services:
  mysql:
    image: mariadb:10.5.9
    container_name: mysql_db
    logging:
      driver: "json-file"
    volumes:
      - "./data/db:/var/lib/mysql:delegated"
      - "./dumps:/sql"
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    restart: always
    networks:
      - db_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    ports:
      - "${PHPMYADMIN_PORT}:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      UPLOAD_LIMIT: ${UPLOAD_LIMIT}
    restart: always
    depends_on:
      - mysql
    networks:
      - db_network

networks:
  db_network:
    driver: bridge

